// $h1-font-size: 3rem;

@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../font-awesome-4.7.0/scss/font-awesome";
@import "spin";

::backdrop
{
    background-color: white;
}
html {
  /* default font-size is 16px - this is set in the default browser stylesheet */
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

/* Increase all font sizes on mobile */
@media (max-width: 767px) {
  html {
    /* default is 1rem or 16px */
    font-size: 18px;
  }
}
